/* Base */
* {
box-sizing: border-box;
margin: 0; 
padding: 0;
}

body.page {
    font-family: arial,sans-serif;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

.btn {
border: none;
cursor: pointer;
font-weight: bold;
}

.btn--primary {
    background-color: #ff3b8b;
    color: white;
}

