/* NavBar (BEM)*/
.navbar {
background-color: #ff8a1f;
padding: 20px 16px;
}

.navbar__container {
max-width: 420px;
margin: 0 auto;
}

.navbar__title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
