@use "../abstracts" as *;

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ff8c1a;
  padding: 20px 16px;

  &__container {
    @include container($container-width);
  }

  &__title {
    color: $color-white;
    font-size: 20px;
    font-weight: bold;
  }
}
