// Estilos base del sitio
body.page {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// Box Model | Layout Base
body.page {
  line-height: 1.4;
}

img {
  max-width: 100%;
  display: block;
}