// Colores del Prototipo
$color-navbar: #ff8a1f;
$color-main: #7b4ad9;
$color-footer: #16b3a8;

$color-input-bg: #ffe6a3;
$color-input-border: #ffcc4d;

$color-primary: #ff3b8d;
$color-white: #ffffff;

// Layout
$container-width: 420px;
$radius-md: 10px;
$radius-lg: 12px;